<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.th.ipqcmbiz.mapper.face.FaceMapper">

    <resultMap id="FaceResultMap" type="com.th.ipqcmbiz.entity.po.FaceInfoDO">
        <result column="ID" property="id"/>
        <result column="UserId" property="userId"/>
        <result column="FaceIndex" property="faceIndex"/>
        <result column="FeatureVector" property="featureVector" jdbcType="BLOB" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
        <result column="FaceImage" property="faceImage" jdbcType="BLOB" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
        <result column="QualityScore" property="qualityScore"/>
        <result column="Threshold" property="threshold"/>
        <result column="CreateTime" property="createTime"/>
    </resultMap>

    <insert id="insertFaceWithName" parameterType="com.th.ipqcmbiz.entity.po.FaceInfoDO">
        Insert Into FACE_FEATURE(ID, UserId, FaceIndex, FeatureVector, FaceImage, QualityScore, Threshold, CreateTime)
        VALUES
        (FACE_FEATURE_SEQ.NEXTVAL, #{userId}, #{faceIndex}, #{featureVector}, #{faceImage}, #{qualityScore}, #{threshold}, CURRENT_TIMESTAMP)
    </insert>

    <select id="selectAllFace" resultMap="FaceResultMap">
        SELECT ID, UserId, FaceIndex, FeatureVector, FaceImage, QualityScore, Threshold, CreateTime
        FROM FACE_FEATURE
    </select>

</mapper>