<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.th.ipqcmbiz.mapper.UserInfoMapper">

    <resultMap id="userResultMap" type="com.th.ipqcmbiz.entity.po.UserInfoDO">
        <id property="userId" javaType="String" column="UserId" jdbcType="VARCHAR"/>
        <result property="userName" javaType="String" column="UserName" jdbcType="VARCHAR"/>
        <result property="password" javaType="String" column="Password" jdbcType="VARCHAR"/>
        <result property="status" javaType="Integer" column="Status" jdbcType="INTEGER"/>
        <result property="userRole" javaType="Integer" column="UserRole" jdbcType="INTEGER"/>
        <result property="faceRegistered" javaType="String" column="FaceRegistered" jdbcType="VARCHAR"/>
        <result property="faceEnabled" javaType="String" column="FaceEnabled" jdbcType="VARCHAR"/>
        <result property="faceEnrolled" javaType="String" column="FaceEnrolled" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="queryUserById" resultType="com.th.ipqcmbiz.entity.po.UserInfoDO" parameterType="java.lang.String">
        SELECT UserId, UserName,Password,Status,UserRole,FaceRegistered, FaceEnabled, FaceEnrolled
        FROM USER_INFO
        WHERE UserId = #{userId}
    </select>

    <insert id="addUser">
        INSERT INTO USER_INFO (Id,UserId, UserName, PassWord, Status, UserRole,FaceRegistered,CreateTime)
            VALUES (user_info_seq.NEXTVAL,#{userId}, #{userName}, #{password}, #{status}, #{userRole},#{faceRegistered}, SYSDATE)
    </insert>



    <select id="queryUserByUserInfo" resultType="com.th.ipqcmbiz.entity.po.UserInfoDO"
            parameterType="com.th.ipqcmbiz.entity.po.UserInfoDO">
        SELECT UserID,UserName
        FROM USER_INFO
        <where>
            <if test="userName != null &amp; userName != ''">
                AND UserName = #{userName}
            </if>
            <if test="userId != null &amp; userId != ''">
                AND UserId = #{userId}
            </if>
        </where>
        Order By UserRole
    </select>
    <select id="queryUserListByUserIds" resultType="com.th.ipqcmbiz.entity.po.UserInfoDO">
        SELECT UserId,UserName
        FROM USER_INFO
        <where>
            <if test="userIds != null and userIds.size() > 0">
                AND UserId in
                <foreach collection="userIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
    <select id="queryUserListByIdOrName" resultType="com.th.ipqcmbiz.entity.po.UserInfoDO">

        SELECT UserId, UserName,Password,Status,UserRole,FaceRegistered, FaceEnabled, FaceEnrolled
        FROM USER_INFO
        <where>
            <if test="keyword != null &amp; keyword != ''">
                UserId like '%'||#{keyword}||'%'
                OR UserName like '%'||#{keyword}||'%'
            </if>
        </where>

    </select>

    <select id="selectByUserId" resultType="com.th.ipqcmbiz.entity.po.UserInfoDO">
        SELECT UserId, UserName, Password, Status, UserRole, FaceRegistered, FaceEnabled, FaceEnrolled
        FROM USER_INFO
        WHERE UserId = #{userId}
    </select>

    <update id="updateFaceEnrolled" parameterType="com.th.ipqcmbiz.entity.po.UserInfoDO">
        UPDATE USER_INFO
        SET FaceEnrolled = #{faceEnrolled}
        WHERE UserId = #{userId}
    </update>

</mapper>