<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.th.ipqcmbiz.mapper.UserInfoMapper">

    <resultMap id="userResultMap" type="com.th.ipqcmbiz.entity.po.UserInfoDO">
        <id property="userId" javaType="String" column="userId" jdbcType="VARCHAR"/>
        <result property="userName" javaType="String" column="userName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryUserById" resultType="com.th.ipqcmbiz.entity.po.UserInfoDO" parameterType="java.lang.String">
        SELECT UserID, UserName
        FROM USER_INFO
        WHERE UserId = #{userId}
    </select>

    <select id="queryUserByUserInfo" resultType="com.th.ipqcmbiz.entity.po.UserInfoDO"
            parameterType="com.th.ipqcmbiz.entity.po.UserInfoDO">
        SELECT UserID,UserName
        FROM USER_INFO
        <where>
            <if test="userName != null &amp; userName != ''">
                AND UserName = #{userName}
            </if>
            <if test="userId != null &amp; userId != ''">
                AND UserId = #{userId}
            </if>
        </where>
    </select>
    <select id="queryUserListByUserIds" resultType="com.th.ipqcmbiz.entity.po.UserInfoDO">
        SELECT UserId,UserName
        FROM USER_INFO
        <where>
            <if test="userIds != null and userIds.size() > 0">
                AND UserId in
                <foreach collection="userIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

</mapper>